* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html {
  padding: 0;
  margin: 0;
  background: linear-gradient(#fff, #9198e5);
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  font-size: 50px;
  margin-top: 70px;
}

button {
  position: absolute;
  right: 0;
  margin-right: 40px;
  border: none;
  font-size: 15px;
  border-radius: 30px;
  height: 40px;
  width: 40px;
  background-color: #3498db;
}

button:hover {
  cursor: pointer;
  background-color: black;
}

button a {
  text-decoration: none;
  color: white;
}

.liste_client {
  margin: 10px 0px 0px 230px;
}

.liste_client h1 {
  font-size: 70px;
}

.liste_client ul li {
  list-style-type: none;
}

.liste_client ul li a {
  text-decoration: none;
  color: black;
  font-size: 30px;
  transition: 0.3s;
}

.liste_client ul li a:hover {
  color: black;
}

.liste_client ul .list {
  margin: 0px 0px 40px 0px;
}

.liste_client img {
  width: 50px;
  height: 50px;
}

.logo_info ul,
.logo_serv ul {
  list-style-type: none;
}
.flex_list {
  display: flex;
  flex-direction: row;
}

tr {
  font-size: 20px;
}

td {
  text-decoration: none;
  color: black;
  border-top: 1px solid #151922;
  padding: 20px 30px 20px 0px;
}

td a {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s;
}

td a:hover {
  background-color: black;
}

.button_return {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s;
}

.button_return:hover {
  background-color: black;
}
